.button { padding: 0.75rem; border: 0; border-radius: var(--radius-pill); transition: background-color 150ms ease, color 150ms ease; }
.button:disabled { cursor: default; }
.active { color: var(--on-warning-color); background: var(--active-color); box-shadow: 0 10px 15px var(--active-shadow-color); }
.inactive { color: var(--inactive-color); background: var(--border-color); }
.icon { width: 2rem; height: 2rem; }